/*content*/
content{
	position: relative;
	width: 100%;
}
.nav{
	width: 100%;
	height: 778px;
	background: url(../../images/李鹏/zhuye/banner.png) no-repeat center center;
	background-size: 1920px 778px;
}
.nav .p11{
	position: absolute;
	left: 578px;
	bottom: -310px;
	width: 50px;
	height: 50px;
}
.nav .nav_q{
	width: 100%;
	margin: 0 auto;
	height: 60px;
	background-color: #040404;
	opacity: 0.3;
}
.nav_w{
	height: 60px;
	position: relative;
	top: -60px;
}
.nav_w ul{
	z-index: 102;
	width: 800px;
	height: 60px;
	margin: 0 auto;
	padding-top: 10px;
}
.nav_w ul li{
	float: left;
	text-align: center;
	color: #fff;
	font-size: 16px;
	border-right: 1.5px solid #707070;
}
.nav_w ul li a{
	height: 40px;
	line-height: 40px;
	padding: 0 40px;
	display: inline-block;
}
.nav_e{
	margin: 0 auto;
	width: 1195px;
	color: #fff;
	position: relative;
}
.nav_e p{
	z-index: 233;
	font-size: 48px;
	text-align: center;
}
.nav_e .p1{
	font-size: 48px;
	padding-bottom: 36px;
	padding-top: 100px;
}
.nav_e .p2{
	font-size: 72px;
}

.cnt{
	width: 100%;
	position: relative;
	overflow: hidden;
}
.cnt .cnt_q{
	position: relative;
}
.cnt .cnt_q .cnt_w{
	height: 100%;
}
.cnt .cnt_q .cnt_w p{
	width: 100%;
	text-align: center;
	font-size: 24px;
	color: #adadad;
}
.cnt .cnt_q .cnt_w .c1{
	font-size: 30px;
	color: #454545;
	padding-bottom: 15px;
}
.cnt .cnt_q .cnt_w .c2{
	font-size: 36px;
	color: #0e0e0e;
}
.cnt_e{
	font-size: 16px;
	color: #454545;
	width: 976px;
	margin: 0 auto;
}
.cnt_e li{
	float: left;
	width: 140px;
	padding: 0 52px;
}
.cnt_e a{
	font-size: 24px;
	color: #000;
	padding: 0 22px;
	margin-bottom: 25px;
	display: block;
}
.cnt_e span{
	width: 115px;
	display: block;
	padding: 0 12.5px;
	margin-top: 25px;
}

.ent{
	width: 100%;
	background: url(../../images/李鹏/zhuye/fb.png) no-repeat center center;
	background-size: 1920px 1190px;
}
.ent .ent_q{
	height: 1190px;
	position: relative;
}
.ent .ent_q .q2{
	position: absolute;
	top: 61px;
	left: 580px;
	width: 50px;
	height: 50px;
}
.ent .ent_w p{
	height: 100px;
	color: #fff;
	font-size: 30px;
	padding-top: 154px;
	text-align: center;
}
.ent .ent_w .c2{
	font-size: 36px;
}
.ent .ent_e{
	height: 400px;
	font-size: 30px;
	padding-top: 40px;
}
.ent .ent_e li{
	padding-top: 30px;
	width: 202px;
	text-align: center;
	padding: 0 48px;
	float: left;
}
.ent .ent_e li img{
	padding-top: 25px;
	padding-bottom: 28px;
	width: 202px;
	height: 202px;
}
.ent .ent_e li span{
	display: inline-block;
	font-size: 24px;
	width: 180px;
}
.ent .ent_r{
	font-size: 30px;
	text-align: center;
	position: relative;
	padding-top: 80px;
}
.ent .ent_r span{
	font-size: 36px;
}
.ent .ent_r .c7,.c8{
	padding-top: 80px;
	font-size: 24px;
}
.ent .ent_r .c8{
	padding-top: 24px;
}
.ent .ent_t{
	height: 140px;
}

.ont{
	width: 100%;
	position: relative;
}
.ont .ont_q{
	height: 140px;
	text-align: center;
}
.ont .ont_q img{

}
.ont .ont_q p{
	font-size: 30px;
	color: #111;
}
.ont_w{
	width: 700px;
	display: inline-block;
	position: relative;
	top: -10px;
}
.ont_w .c9{
	font-size: 24px;
	color: gray;
	padding-top: 25px;
	display: inline-block;
}

.ssc{
	width: 100%;
	background: url(../../images/李鹏/zhuye/33.png) no-repeat center center;
	background-size: 1920px 942px;
}
.ssc .ssc_q{
	height: 942px;
	position: relative;
}
.ssc .ssc_q .q22{
	position: absolute;
    top: 40px;
    left: 579px;
    width: 50px;
    height: 50px;
}
.ssc .ssc_q .ssc_e{
	text-align: center;
	padding-top: 154px;
}
.ssc .ssc_q .ssc_e p{
	font-size: 30px;
}
.ssc .ssc_q .ssc_e span{
	font-size: 36px;
}
.ssc .ssc_q .ssc_r{
	position: relative;
	padding: 0 141px;
}
.ssc .ssc_q .ssc_r li{
	float: left;
	padding: 0 52px;
	padding-top: 60px;
}
.ssc .ssc_q .ssc_r span{
	display: inline-block;
	font-size: 24px;
	padding-top: 50px;
	padding-left: 130px;
}

.ccs{
	width: 100%;
	position: relative;
}
.ccs .ccs_q{
	height: 364px;
}
.ccs .ccs_q img{
	position: relative;
	top: 20px;
	left: 105px;
}
.ccs .ccs_q .ccs_w{
	width: 534px;
	float: right;
	padding-right: 92px; 
}
.ccs .ccs_q .ccs_w dl{
	font-size: 24px;
	color: #454545;
	padding-top: 20px;
}
.ccs .ccs_q .ccs_w dt{
	font-size: 30px;
	padding-bottom: 12px;
	border-bottom: 4px solid #494641;
}
.ccs .ccs_q .ccs_w dd{
	padding-top: 2px;
}

.bbq{
	width: 100%;
	background: url(../../images/李鹏/zhuye/ss1.png) no-repeat center center;
	background-size: 1920px 1108px;
}
.bbq1{
	background: url(../../images/李鹏/zhuye/110.png) no-repeat center center;
	background-size: 1920px 524px;
}
.bbq .bbq_q{
	width: 1519.2px;
	height: 1108px;
	position: relative;
	margin: 0 auto;
}
.bbq .bbq_q .q22{
	width: 50px;
	height: 50px;
	position: relative;
	top: 146px;
	left: 739px;
}
.bbq .bbq_q .q33{
	width: 50px;
	height: 50px;
	position: relative;
	top: 44px;
	left: 739px;
}
.bbq .bbq_q .bbq_w{
	height: 524px;
	width: 1519.2px;
	position: relative;
}
.bbq .bbq_q .bbq_w .w12{
	position: absolute;
	bottom: -100px;
	left: 728px;
}
.bbq .bbq_q .bbq_e{
	height: 200px;
	font-size: 30px;
	text-align: center;
	padding-bottom: 74px;
}
.bbq .bbq_q .bbq_e span{
	font-size: 36px;
}
.bbq .bbq_q .bbq_e .c8{
	position: relative;
	top: 30px;
}






.footerT{
	width: 100%;
}
.FTT{
	height: 320px;
}
.footerB{
	height: 50px;
	width: 100%;
	line-height: 50px;
	background-color: #27272F;
}
.FBox{
	height: 320px;
}
.khfw{
	width: 850px;
	margin: 0 auto;
}
.khfw a{
	font-size: 25px;
	margin-left: 15px;
	color: #000;
}
.foot-link{
	font-size: 16px;
	width: 735px;
	margin: 0 auto;
	margin-top: 50px;
}
.foot-link a{
	margin-left: 10px;
	color: #000;
}
.ewm{
	width: 110px;
	margin: 0 auto;
	margin-top: 40px;
}
.footT{
	width: 525px;
	height: 50px;
	margin: 0 auto;
}
.footT span{
	font-size: 16px;
}


