/*content*/
body{
	background: url(../../images/李鹏/ls/04.png) no-repeat center center;
	background-size: 1920px 100%;
}
content{
	position: relative;
	width: 100%;
}
.nav{
	width: 100%;
	height: 100%;
	
}
.nav .nav_q{
	width: 100%;
	margin: 0 auto;
	height: 60px;
}
.nav_w{
	height: 60px;
	position: relative;
	top: -60px;
}
.nav_w ul{
	z-index: 102;
	width: 800px;
	height: 50px;
	margin: 0 auto;
	padding-top: 10px;
}
.nav_w ul li{
	float: left;
	text-align: center;
	color: #fff;
	font-size: 16px;
	border-right: 1.5px solid #707070;
}
.nav_w ul li a{
	height: 40px;
	line-height: 40px;
	padding: 0 40px;
	display: inline-block;
}
.con{
	width: 100%;
	position: relative;
}
.con .con_q{
	height: 592px;
	position: relative;
}
.con_q img{
	position: relative;
	top: -60px;
	display: inline-block;
}
.con_q i{
	background: url(../../images/李鹏/zc/xt.png) no-repeat;
	position: absolute;
	bottom: 1px;
	width: 1195px;
	height: 3px;
}
.con_q .con_e{
	width: 1200px;
	height: 210px;
	background: rgba(148,148,148,.4);
	position: absolute;
	bottom: 50px;
	font-weight: normal;
}
.con_q .con_e p{
	width: 1150px;
	height: 100px;
	font-size: 18px;
	padding: 60px 25px 0 25px;
}
.ent{
	font-size: 20px;
	font-weight: normal;
	position: relative;
	top: -60px;
}
.ent li{
	float: left;
	padding: 10px 35px 10px 35px;
	transition: all 0.5s;
}
.ent .rl{
	margin-right: 65px;
}
.ent li:hover{
	background-color: #4e9ad7;
}
.ent_q{
	height: 100%;
	font-weight: normal;
	font-size: 15px;
}
.ent_q li{
	height: 253px;
}
.ent_q li img{
	float: left;
	padding-right: 15px;
}
.ent_q li p{
	/*display: inline-block;*/
	/*float: left;*/
}
.ent_q li .q3{
	padding-top: 20px;
	display: inline-block;
	width: 560px;
}
.ent_q li .q2{
	padding-top: 46px;
}
.ent_q .q1{
	padding-bottom: 60px;
	position: relative;
}
.ent_q .q1 a{
	position: absolute;
	left: 44%;
	bottom: 20px;
	height: 40px;
	width: 150px;
	background-color: #333;
	display: inline-block;
	line-height: 40px;
	text-align: center;
	transition: all 0.5s;
}
.ent_q .q1 a:hover{
	background: rgba(255,255,255,.5);
}
/*图片效果*/
.box {
	width:325px;
	height:210px;
	margin-right:15px;
	float:left;
	position: relative;
}
.box-content {
	display:block;
	padding:20px;
	width:325px;
	height:210px;
	background: #333;
	color:#ffffff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}

.box-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
	z-index:10;
}
.box-overlay img{
	width:325px;
	height:210px;
}

a.link {
	display:block;
	width: 100%;
	height: 100%;		
	position: absolute;
	top:0;
	left:0;
	z-index:15;		
}

/* custom css styling */
.box-content .box-wrapper {
	width: 100%;
	height: 100%;
	font-size:24px;
	display:block;
	padding:30px 0 10px 0;
	text-align:center;
	margin-bottom:10px;
	border:2px solid #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}
.box-content span.name {
	display:block;
	text-align:center;
	font-family:georgia;
	font-style:italic;
	font-size:14px;
	font-weight:normal;
	margin-top:5px;
}

.box-content .row {
	margin-top:10px;
	font-size:12px;
	color:#ddd;
}



#nav {
	overflow:hidden;
	margin:15px auto;
	padding:0;
	list-style:none;
	width: 590px;
}
	#nav li {
		float:left;
		padding:5px;
		list-style:none;
		text-align:center;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
	}
	
	#nav li a {
		text-decoration:none;
		color:#fff;
		display:block;
		width: 100%;
		padding:5px 10px;					
		background: #666;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;
		border-radius: 5px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;		
	}
	
		#nav li a:hover,
		#nav li.current a {
			background: #ccc;
			color:#666;
		}
		

#info {
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;				
background:#fcf8e3;
border:1px solid  #fbeed5;
width:70%;
max-width:900px;
margin:0 auto 20px auto;
font-family:arial;
font-size:12px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
}

#info .info-wrapper {
	padding:10px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;

}

#info a {
	color:#c09853;
	text-decoration:none;
}

#info p {
	margin:5px 0 0 0;
}