p{
    /*margin: 0;  */
}
/*头部start*/
body{
    width: 100%;
    height: 100%;
    background: url(../../images/李鹏/ls/04.png) no-repeat center center;
    background-size: 1920px 100%;
}
nav{
    height: 100%;
    margin: 0 auto;
    /*background-color: rgba(0, 0, 0, .3);*/
}

.navdh{
    width: 100%;
    height: 61px;
}
.navdh .navs{
    padding: 10px 0;
    height: 45px;
}
.navdh .navs ul{
    width: 970px;
    margin: 0 auto;
    /*height: 61px;*/
}
.navdh .navs ul li{
    float: left;
    height: 35px;
    width: 80px;
    padding: 0 40px;
    text-align: center;
    line-height: 35px;
    border-right: 1px solid #414556;
    position: relative;
}
.navdh .navs ul li a{
    font-size:18px;
    font-weight: 400;
}
.navdh .navs ul li .select{
    width: 162px;
    height: 200px;
    position: absolute;
    top: 35px;
    padding-top: 15px;
    display: none;
    left: 0;
    z-index: 233;
}
.navdh .navs ul li .select li{
    width: 162px;
    height: 50px;
    background-color: rgba(0,0,0,.5);
    line-height: 50px;
    text-align: center;
    padding: 0;
    border-right: 0;
}
.navdh .navs ul li .select li:hover{
    background-color: rgba(144,146,165,.5);
}
.navdh .navs ul li:hover .select{
    display: block;
}
.navdh .navs ul li a.lis{
    border-right: none;
}
/*头部end*/
/*头部end*/
.logo{
    z-index: -10;
}
.logo .logoin{
    margin-top: -10px;
}
.logo .logoin img{
    width: 1200px;
    height: 426px;
}
.navbt .dh{
    margin-top: 10px;
    background-color: rgba(0, 0, 0, .5);
}
.navbt .dh ul{
    overflow: hidden;
    padding-left: 71px;
    margin: 20px 0;
}
/*.navbt .dh ul.ul1{*/
    /*padding-bottom: 10px;*/
/*}*/
.navbt .dh ul.ul1 li{
    margin-right: 60px;
}
.navbt .dh ul li{
    float: left;
    padding: 5px;
    margin: 5px 0;
    transition: all 0.5s;
}
.navbt .dh ul li.li1{
    margin-left: -60px;
}
.navbt .dh ul li:hover{
    background: rgba(0,0,0,.5);
}
.navbt .dh ul li a{
    font-weight: 200;
    padding: 5px 10px;
    font-size: 17px;
}
.navbt .dh ul .inp{
    color: #fff;
    line-height: 40px;
    margin-right: 15px;
}
.navbt .dh ul .inp input{
    width: 200px;
    height: 28px;
    color: #000;
    background-color: rgba(0, 0, 0, .5);
    border: 0;
    vertical-align: middle;
}
.navbt .dh ul .inp button{
    width: 60px;
    height: 30px;
    line-height: 30px;
    background-color: #000;
    border: 0;
    color: #fff;
    text-align: center;
    margin-left: 10px;
    vertical-align: middle;
}
.navtp{
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
}
.navtp .navtps{
    height: 100%;
}
.navtp .navtps .navtp1{
    float: left;
    width: 381px;
    height: 305px;
    /*margin-right: 12px;*/
    border: 1px solid #667b80;
    background-color: rgba(0, 0, 0, .4);
    margin: 10px 7px;
    position: relative;
}
.navtp .navtps .navtp1.st{
    margin: 0;
}
.navtp .navtps .navtp1 .top{
    width: 381px;
    height: 145px;
    border-bottom: 1px solid #333333;
    color: #fff;
}
.navtp .navtps .navtp1 .top .tj{
    border: 1px solid #fd9403;
    display: inline-block;
    width: 70px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fd9403;
}
.navtp .navtps .navtp1 .top img{
    width: 92px;
    height: 92px;
    margin:  27px;
}
.navtp .navtps .navtp1 .top .ziti {
    font-size: 14px;
    margin-top: 6px;
}
.navtp .navtps .navtp1 .top .ziti p{
    padding-top: 20px;
    padding-left: 20px;
}
.navtp .navtps .navtp1 .bot{
    margin: 7px 20px;
    color: #fff;
}
.navtp .navtps .navtp1 .bot p{
    padding-top: 10px;
}
.navtp .navtps .navtp1 .bg{
    position: absolute;
    bottom: 0;
    width: 381px;
    height: 50px;
    line-height: 50px;
    background-color: #5f7187;
}
.navtp .navtps .navtp1 .bg img{
    vertical-align: middle;
}
.navtp .navtps .navtp1 .bg a{
    vertical-align: middle;
}
.navtp .navtps .navtp1 .bg p{
    margin-left: 15px;
    margin-right: 15px;
}
.ent{
    width: 100%;
    height: 100%;
    position: relative;
}
.ent{
    height: 120px;
}
.ent1{
    width: 1195px;
    margin: 50px auto;
    height: 50px;
    background: rgba(31,31,31,.5);
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
}


/*lb*/
 .swiper-container {
    width: 1200px;
    height: 426px;
    background: #000;
}
.swiper-slide {
    font-size: 18px;
    color:#fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*padding: 40px 60px;*/
}
.swiper-slide img{
    width: 1200px;
    height: 426px;
}
.parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}