/*content*/
body{
	background: url(../../images/李鹏/zc/03.png) no-repeat center center;
	background-size: 1920px 100%;
}
content{
	position: relative;
	width: 100%;
}
.nav{
	width: 100%;
	height: 100%;
	
}
.navdh{
    width: 100%;
    height: 61px;
}
.navdh .navs{
    padding: 10px 0;
    height: 45px;
}
.navdh .navs ul{
    width: 970px;
    margin: 0 auto;
    /*height: 61px;*/
}
.navdh .navs ul li{
    float: left;
    height: 35px;
    width: 80px;
    padding: 0 40px;
    text-align: center;
    line-height: 35px;
    border-right: 1px solid #414556;
    position: relative;
}
.navdh .navs ul li a{
    font-size:18px;
    font-weight: 400;
}
.navdh .navs ul li .select{
    width: 162px;
    height: 200px;
    position: absolute;
    top: 35px;
    padding-top: 15px;
    display: none;
    left: 0;
    z-index: 233;
}
.navdh .navs ul li .select li{
    width: 162px;
    height: 50px;
    background-color: rgba(0,0,0,.5);
    line-height: 50px;
    text-align: center;
    padding: 0;
    border-right: 0;
}
.navdh .navs ul li .select li:hover{
    background-color: rgba(144,146,165,.5);
}
.navdh .navs ul li:hover .select{
    display: block;
}
.navdh .navs ul li a.lis{
    border-right: none;
}
.con{
	width: 100%;
	position: relative;
}
.con .con_q{
	height: 100%;
}
.ent{
	font-size: 20px;
	font-weight: normal;
	position: relative;
	top: 0px;
}
.ent li{
	float: left;
	padding: 10px 35px 10px 35px;
}
.ent li:hover{
	background-color: #4e9ad7;
}
.con_q img{
	position: relative;
	top: 60px;
	right: 120px;
}
.con_q .ent_q{
	height: 100%;
	font-size: 20px;
	font-weight: normal;
}
.con_q .ent_q p{
	width: 1135px;
}
.p1{
	padding: 120px 0 70px 30px;
}
.p2{
	padding: 0 30px;
}
.p3{
	padding: 0 30px 40px 30px;
}
.p4{
	padding: 0 30px 275px 30px;
}