.content{
	width: 1899px;
	height: 1020px;
	margin: 0 auto;
	background: url(../../images/张庆庆/登录页面/bg.png) no-repeat;
}
/*导航栏*/
.nav{
	width: 100%;
	height: 35px;
	background-color: rgba(0,0,0,.2);
	padding: 10px 0;
}
.nav ul{
	width: 966px;
	margin: 0 auto;
}
.nav ul li{
	float: left;
	height: 35px;
	width: 80px;
	padding: 0 40px;
	text-align: center;
	border-right: 1px solid #414556;
	cursor: pointer;
}
.nav ul li.li-last{
	border-right: none;
}
/*登录框*/
.loginBox{
	height: 560px;
	width: 425px;
	background-color: rgba(0,0,0,.5);
	margin: 100px auto;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.loginT{
	padding: 15px 20px;
	line-height: 40px;
	background-color: rgba(0,0,0,.2);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: 1px solid #434343;
}
.loginT h1{
	display: inline-block;
	font-size: 20px;
}
.loginT a{
	font-size: 15px;
	color: #0284E6;
}
.loginM{
	height: 300px;
	padding: 0 45px;
}
.loginM input{
	background-color: rgba(0,0,0,.2);
	border-radius: 10px;
	outline: none;
}
.iphoneBox{
	margin-top: 40px;
}
.iphoneBox,.passwordBox{
	position: relative;
	/*margin-top: 40px;*/
}
.iphoneBox span,.passwordBox span{
	display: block;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: red;
}
.iphon,.password{
	font-size: 17px;
	width: 285px;
	height: 48px;
	padding-left: 45px;
	border: 1px solid;
	border-color:  #505483;
	color: #fff;
}
.iphoneBox i,.passwordBox i{
	width: 23px;
	height: 28px;
	display: inline-block;
	background: url(../../images/张庆庆/登录页面/user.png) no-repeat;
	-webkit-background-size: 20px 24px;
	background-size: 20px 24px;
	position: absolute;
	top: 14px;
	left: 10px;
}
.passwordBox i{
	background: url(../../images/张庆庆/登录页面/password.png) no-repeat;
	-webkit-background-size: 20px 24px;
	background-size: 20px 24px;
}
.forget{
	display: block;
	font-size: 15px;
	color: #008df3;
	margin-bottom: 15px;
}
.loginBtn{
	width: 331px;
	height: 42px;
	background-color: #008df3;
	font-size: 17px;
	color: #fff;
	font-weight: bold;
	letter-spacing: 4px;
	border-radius: 5px;
	margin-bottom: 20px;
	outline: none;
	cursor: pointer;
}
.loginB{
	height: 148px;
	background-color: rgba(0,0,0,.5);
}
.loginB h4{
	font-size: 17px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	letter-spacing: 2px;
}
.loginB ul li{
	width: 51px;
	height: 51px;
	float: left;
	margin-right: 70px;
	background: url(../../images/张庆庆/登录页面/login.png) no-repeat;
	cursor: pointer;
}
.loginB ul{
	width: 293px;
	margin: 0 auto;
	margin-top: 15px;
}
.loginB ul li.qq{
	background-position: -102px 0;
}
.loginB ul li.wx{
	background-position: -51px 0;
}
.loginB ul li.wb{
	background-position: 0 0;
	margin-right: 0;
}
